@import "./constants.scss";

body {
    background: $primary;
    // background: $gradient;
    font-family: $font-family;
}

p,
span,
a,
ul,
div,
h3,
h4,
h5,
h6 {
    color: $white;
    text-decoration: none;
}

h1,
h2 {
    color: $secondary;
    padding: $padding-double;
}

main,
header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 90vw;
    margin: 0 auto;
}

header {
    flex-direction: row;
}